<!DOCTYPE html> {% extends 'shared_layout/base.html' %} 
{%block title%}Create a new password{%endblock title%} 
{%block contents%} 
{%if error%}
<div class="alert alert-danger" role="alert">
    {{error}}
</div>
{%endif%}
<div class="row">
    <div class="col-12 text-center">
        <h5 class="m-2">Reset new password</h5>
        <p class="text-muted">
            Please enter your new password twice so we can verify you typed it in correctly.
        </p>
        <form method="post">
            {%csrf_token%} {%include 'users/form_snippets.html' with center=True form=form%}
            <input class="btn btn-primary" type="submit" value="Change your password">
        </form>
    </div>
</div>
{%endblock contents%}